{% extends '::base.html.twig' %}
{% block title %}Something has gone wrong!{% endblock %}
{% block body %}

<div class="row">
	<div class="col-sm-11 blog-main">
	    <h1>Something has gone wrong!</h1>
	    <p>We're terribly sorry, something has gone terribly wrong and news is currently unavailable.</p>
	    <p><small><strong>Reason:</strong> {{ reason }}</small></p>
	</div><!-- /.blog-main -->
</div><!-- /.row -->

{% endblock %}