{% extends '::base.html.twig' %}
{% block title %}How to play{% endblock %}
{% block body %}

<div class="blog-header">
    <h1 class="blog-title">{{ title }}</h1>
    <p><strong>{{ topic }}</strong></p>
    <p class="lead blog-description">{{ description }}</p>
</div>

<div class="row">
	<div class="col-sm-8 blog-main">
	    {% for article in news %}
	        <div class="blog-post">
	          <h2 class="blog-post-title"><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h2>
	          <p class="blog-post-meta">
                {{ article.pubDate|date("Y-m-d H:i") }} 
                in 
                {% if filter_category == article.category %}
                    <a href="{{ path('sport_lobster_feed_homepage', {'category': filter_category}) }}"><strong class="articleCategory">{{ article.category}}</strong></a>
                {% else %}   
                    <strong class="articleCategory">{{ article.category }}</strong>
                {% endif %}
              </p>
	          <p>{{ article.description }}</p>
	      </div>
	    {% endfor %}
	</div><!-- /.blog-main -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
            <h4>Navigation</h4>
            <ol class="list-unstyled">
                <li><a href="{{ path('sport_lobster_feed_homepage') }}">All Articles</a></li>
                <li><a href="{{ path('sport_lobster_feed_homepage', {'category': filter_category}) }}">Report</a></li>
            </ol>
      </div>
    </div><!-- /.blog-sidebar -->
</div><!-- /.row -->

{% endblock %}